body
{
	margin: 0px auto;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

/* HEADER */

#page-header
{
	display: block;
	position: absolute;
	padding: 0px;
	overflow: hidden;
	object-fit: cover;
	z-index: 0;
	filter: brightness(0.7);
}
#header-content
{
	position: absolute;
	margin: 60vmin 0vw 0vw 10vw;
	z-index: 1;
	font-size: 120%;
}
#header-logo
{
	width: 85vmin;
}
#header-caption
{
	width: 80vmin;
	padding: 0px;
	margin-top: -1.8vmin;
}
#header-tagline
{
	font-family: 'Roboto Mono', monospace;
	margin-top: 3vmin;
}


